<section class="portfolio">
    <h2 class="section__title">Portafolio</h2>
    <span class="section__subtitle">Trabajos mas recientes</span>

    <div class="portfolio__container containerPersonal swiper-container">
        <!-- [navigation]="{ nextEl: '.carousel-next', prevEl: '.carousel-previous' }" -->



        <div class="swiper-wrapper">

            <!-- portfolio 1 -->
            <div class="  swiper-slide">
                <div class="portfolio__content grid">
                    <img src="assets/img/miprimerproyecto.jpeg" alt="" class="portfolio__img" width="8" height="8">
                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Chat Movil</h3>
                        <p class="portfolio__description"> Aplicacion de chat desarrollada en flutter.</p>
                    </div>
                </div>

            </div>

            <!-- portfolio 1 -->
            <div class="  swiper-slide">
                <div class="portfolio__content grid">
                    <img src="assets/img/pirulin.png" alt="" class="portfolio__img" width="20" height="20">
                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Juego de terror</h3>
                        <p class="portfolio__description"> Juego de terror desarrollado en el motor unity.</p>
                    </div>
                </div>

            </div>

           <!-- portfolio 1 -->
            <div class="  swiper-slide">
                <div class="portfolio__content grid">
                    <img src="assets/img/redproyect.png" alt="" class="portfolio__img" width="20" height="20">
                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Sistema de laboratorio hecho en React</h3>
                        <p class="portfolio__description"> Sistema de laboratorio realizado en Reactjs y Expressjss con el lenguaje typescript</p>
                    </div>
                </div>

            </div>

           <!-- portfolio 1 -->
            <div class="  swiper-slide">
                <div class="portfolio__content grid">
                    <img src="assets/img/polleria.png" alt="" class="portfolio__img" width="20" height="20">
                    <div class="portfolio__data">
                        <h3 class="portfolio__title">Sistema de polleria</h3>
                        <p class="portfolio__description"> Sistema de polleria realizado en Reactjs y Expressjss con el lenguaje typescript usando Tensorflow para las recomendaciones de los clientes</p>
                    </div>
                </div>

            </div>


        </div>
        <div class="swiper-button-prev"><i class="fas fa-angle-left swiper-portfolio-icon"></i></div>
        <div class="swiper-button-next"><i class="fas fa-angle-right swiper-portfolio-icon"></i></div>
        <div class="swiper-pagination"></div>

    </div>
    <!-- <i class="carousel-prev fas fa-user uil uil-angle-left-b" role="button" aria-label="Next slide"></i> -->






</section>
