<section class="about section">
    <h2 class="section__title">Acerca de mi</h2>
    <span class="section__subtitle">Mi Introduccion</span>
    <div class="about__container containerPersonal grid">
        <img src="assets/img/yoxd.jpeg" alt="" class="about__img" style="width: 60%; height: auto">
        <div class="about__data">
            <p class="about__descripcion">
                Desarrollador web con experiencia en backend y frontend.
            </p>
            <div class="about__info">
                <div>
                    <span class="about__info-title">01+</span>
                    <span class="about__info-name">Años <br> Experiencia</span>
                </div>
            </div>
            <div class="about__buttons">
                <a download="" href="assets/pdf/Formato CV.pdf" class="button button--flex">
                    Descargar CV <i class="fas fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</section>