<footer class="footerPersonal">
    <div class="footer__bg">
        <div class="footer__container containerPersonal grid">

            <h1 class="footer__title">MI CV</h1>
            <span class="footer__subtitle">Desarrollador FullStack</span>
            <div class="contact">
                <h3 class="contact__title">
                    LLamame
                </h3>
                <span class="contact__subtitle">+51 951 696 721</span>
            </div>
            
        </div>

        <p class="footer__copy">&#169; CARLOS NAVARRO CARAZA. All right reserved </p>
    </div>
</footer>